{% extends "layout.html" %}

{% block title %}
    New Post
{% endblock %}

<!-- Below block is to dynamically add script and css links for specific pages -->
{% block links %}
{% endblock %}

{% block main %}
    <form class="form-control" action="/post" method="post">
        <!-- <div id="post"></div> -->
        <div class="grid grid-cols-2 mb-3">
            <input class="input input-bordered maxw mr-2" type="text" name="title" placeholder="Post Title" autofocus>
            <div class="form-control justify-self-end">
                <label class="label cursor-pointer">
                    <span class="label-text pr-2">Set post to private</span>
                    <input type="checkbox" name="private" class="toggle">
                </label>
            </div>
        </div>
        
        <textarea class="textarea textarea-bordered w-full mb-3" placeholder="Blog Post" name="post" id="post"></textarea>
        
        <a href="/" class="btn btn-outline">CANCEL</a>
        <button class="btn btn-outline" type="submit">SUBMIT</button>
    </form>
{% endblock %}

<!-- Below block is to add page specific scripts -->
{% block scripts %}
{% endblock %}

