{% extends "layout.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}

<!-- Below block is to dynamically add script and css links for specific pages -->
{% block links %}
{% endblock %}

{% block main %}
    <form class="form-control" name="postForm" action="/post" method="post" onsubmit="return validateForm()">
        <!-- <div id="post"></div> -->
        <div class="grid grid-cols-2 mb-3">
            <input class="hidden" type="hidden" name="post_id" value="{{ post.post_id }}">
            <h3 id="title-text">{{ post.title }}</h3>
            {% if user_data %}
                <input class="input input-bordered maxw mr-2 hidden" type="text" name="title" id="title" placeholder="Post Title" autofocus value="{{ post.title }}" disabled>           
                <div class="form-control justify-self-end">
                    <label class="label cursor-pointer">
                        <span class="label-text pr-2">Set post to private</span>
                        <input type="checkbox" name="private" id="private" class="toggle" {{ post.private }} disabled>
                    </label>
                </div>
            {% endif %}
        </div>
        
        <textarea class="textarea textarea-bordered w-full h-96 mb-3" placeholder="Blog Post" name="post" id="post" readonly>{{ post.post }}</textarea>
        
        {% if user_data %}
            <a href="/" class="btn btn-outline btn-secondary mb-2 hidden" id="cancel">CANCEL</a>
            
            <button class="btn btn-outline btn-primary hidden" id="submit" type="submit">SUBMIT</button>
        {% endif %}
    </form>
    {% if user_data %}
        <button class="btn btn-outline btn-primary" id="edit">EDIT</button>
    {% endif %}

    
{% endblock %}

<!-- Below block is to add page specific scripts -->
{% block scripts %}

    <dialog id="alertModal" class="modal">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Name and Blog post cannot be blank</h3>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
    </dialog>
    
    <script>
        function validateForm(showAlert = true) {

            const form = document.forms["postForm"]
            const title = form["title"].value
            const post = form["post"].value                         

            if ( (title === "" || post === "") && showAlert) {
                
                const alertModal = document.querySelector("#alertModal")
                alertModal.showModal()

                return false;
            }
        }

        // Set showAlert via jinja insertion
        const showAlert = {{ show_alert | tojson | safe }}
        // console.log("showAlert: ", showAlert)

        validateForm(showAlert);

        {% if user_data %}

        function editPost() {            

            if(editView) {
                return;
            }

            const editBtn = document.querySelector("#edit");
            editBtn.classList.add("hidden");            

            const titleInput = document.querySelector("#title");
            titleInput.removeAttribute("disabled");
            titleInput.classList.remove("hidden")

            const titleText = document.querySelector("#title-text")
            titleText.classList.add("hidden")

            const privateChk = document.querySelector("#private");
            privateChk.removeAttribute("disabled");

            const post = document.querySelector("#post");
            post.removeAttribute("readonly");

            const cancelBtn = document.querySelector("#cancel");
            cancelBtn.classList.remove("hidden");

            const submitBtn = document.querySelector("#submit");
            submitBtn.classList.remove("hidden");

            editView = true
        }

        let editParam = false
        let editView = false
        const searchParams = new URLSearchParams(window.location.search)        

        if(searchParams.has("edit")) {
            editParam = searchParams.get("edit")
            console.log("edit param:", editParam)
        }

        const editBtn = document.querySelector("#edit");
        editBtn.addEventListener("click", () => {
            console.log("edit Clicked")
            editPost()
        });

        if (editParam) {
            editPost()
        }

        {% endif %}
        
    </script>
{% endblock %}

